* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent {
    min-height: 100vh;
    background: linear-gradient(40deg , #fbda61 , #ff5acd);
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}
div.main {
    background: #eee;
    width: 300px;
    height: 160px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: -1px 1px 15px 1px #777;
    transition: .3s;
    transition-delay: .2s;
    z-index: 2;
}
div img {
    max-width: 50%;
    border-radius: 20px;
    position: absolute;
    top: -15px;
    transition: .3s;
    left: 50%;
    transform: translateX(-50%);
}
div h3 {
    font-size: 20px;
    font-family: cursive;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
div p a {
    text-decoration: none;
    color: #777;
}
.text-card {
    padding-top: 100px;
    transition: .3s;
    transition-delay: .1s;
    text-align: center;
}
.main:hover img {
    top: -50px;
}
.main:hover .text-card {
    padding-top: 70px;
}
.main:hover {
    height: 150px!important;
}
.full-website::after {
    content: "Full Responsive Website";
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translate(-50% , -50%);
    background: rgb(0 0 0 / 50%);
    font-size: 3em;
    color: #009688;
    font-family: fantasy;
    border-radius: 15px;
    padding: 5px 10px;
    width: fit-content;
    font-style: italic;
    z-index: 1;
}
.full-website {
    display: flex;
    gap: 20px;
}
.d-flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    margin-bottom: 100px;
    transition: .3s;
}
.d-flex::after {
    content: '';
    position: absolute;
    bottom: -30px;
    width: 70%;
    height: 4px;
    background: #2196f3;
    border-radius: 20px;
    transition: .3s;
}
.d-flex:hover::after {
    background-color: #777;
    bottom: -25px;
}
#joker {
    font-size: 16px;
}
@media (max-width:767px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}
